# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# Flutter/Dart/Pub build outputs & caches
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# IDE files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Android build artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release
